RewriteEngine on
RewriteRule ^post/asdf.aspx$ /asdf.html [R=301,NC]
RewriteRule ^post/resources-for-understanding-git.aspx$ /resources-for-understanding-git.html [R=301,NC]
RewriteRule ^post/using-unit-tests-in-ios-development.aspx$ /using-unit-tests-in-ios-development.html [R=301,NC]
RewriteRule ^post/test.aspx$ /test.html [R=301,NC]
RewriteRule ^post/adding-items-that-dont-seem-to-want-to-be-ignored-to-gitignore-anyway.aspx$ /adding-items-that-dont-seem-to-want-to-be-ignored-to-gitignore-anyway.html [R=301,NC]
RewriteRule ^post/mock-vs-stub-semantics.aspx$ /mock-vs-stub-semantics.html [R=301,NC]
RewriteRule ^post/james-shores-lets-play-tdd-screencasts.aspx$ /james-shores-lets-play-tdd-screencasts.html [R=301,NC]
RewriteRule ^post/kent-beck-tdd-screencasts.aspx$ /kent-beck-tdd-screencasts.html [R=301,NC]
RewriteRule ^post/database-vs-application-behavior.aspx$ /database-vs-application-behavior.html [R=301,NC]
RewriteRule ^post/using-unit-tests-to-shorten-the-feedback-cycle.aspx$ /using-unit-tests-to-shorten-the-feedback-cycle.html [R=301,NC]
RewriteRule ^post/the-most-basic-unit-test.aspx$ /the-most-basic-unit-test.html [R=301,NC]
RewriteRule ^post/vs2008-suo-file-rant.aspx$ /vs2008-suo-file-rant.html [R=301,NC]
RewriteRule ^post/quick-quick-guide-to-the-vi-editior-in-git-bash.aspx$ /quick-quick-guide-to-the-vi-editior-in-git-bash.html [R=301,NC]
RewriteRule ^post/solution-to-slow-git-bash-when-logged-in-as-a-domain-user.aspx$ /solution-to-slow-git-bash-when-logged-in-as-a-domain-user.html [R=301,NC]
RewriteRule ^post/using-the-git-bash-to-ssh-proxy-to-the-local-university.aspx$ /using-the-git-bash-to-ssh-proxy-to-the-local-university.html [R=301,NC]
RewriteRule ^post/google-sync-and-iphone-calendar.aspx$ /google-sync-and-iphone-calendar.html [R=301,NC]
RewriteRule ^post/update-on-git.aspx$ /update-on-git.html [R=301,NC]
RewriteRule ^post/interestring-difference-between-sql-and-linq.aspx$ /interestring-difference-between-sql-and-linq.html [R=301,NC]
RewriteRule ^post/calling-aspnet-ajax-web-services-from-jquery.aspx$ /calling-aspnet-ajax-web-services-from-jquery.html [R=301,NC]
RewriteRule ^post/git-e28093-fast-distributed-code-versioning.aspx$ /git-e28093-fast-distributed-code-versioning.html [R=301,NC]
RewriteRule ^post/jquery-e28093-smarter-client-scripting.aspx$ /jquery-e28093-smarter-client-scripting.html [R=301,NC]
RewriteRule ^post/yet-another-development-blog-onlinee280a6.aspx$ /yet-another-development-blog-onlinee280a6.html [R=301,NC]
